log4j.rootLogger=INFO, stdout
log4j.appender.stdout=org.apache.log4j.ConsoleAppender
log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
log4j.appender.stdout.layout.ConversionPattern=[${severity}] [${time}] [${logger}]: ${message}
# 逐帧刷屏的优化器诊断压到 WARN（这些不是运行必需信息）
log4j.logger.ros.traj_opt=WARN
log4j.logger.ros.ego_planner=INFO
log4j.logger.ros.plan_manage=INFO
log4j.logger.ros=INFO
log4j.logger.ros.roscpp=WARN
log4j.logger.ros.roscpp.roscpp_internal=WARN
log4j.logger.ros.roscpp.superdebug=WARN
